# Imports

## Import de mes librairies

In [12]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

# preprocessing
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.preprocessing import StandardScaler

# Algorithms
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

# Pipelines
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# Evaluate
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

# Deploy 
import pickle

## Import de mes donn√©es

In [13]:
df = pd.read_csv("data/data.csv")

# EDA

## Data cleaning

In [14]:
df.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [15]:
df.columns

Index(['country', 'year', 'uniqueid', 'bank_account', 'location_type',
       'cellphone_access', 'household_size', 'age_of_respondent',
       'gender_of_respondent', 'relationship_with_head', 'marital_status',
       'education_level', 'job_type'],
      dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23524 non-null  object
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  object
 3   bank_account            23524 non-null  object
 4   location_type           23524 non-null  object
 5   cellphone_access        23524 non-null  object
 6   household_size          23524 non-null  int64
 7   age_of_respondent       23524 non-null  int64
 8   gender_of_respondent    23524 non-null  object
 9   relationship_with_head  23524 non-null  object
 10  marital_status          23524 non-null  object
 11  education_level         23524 non-null  object
 12  job_type                23524 non-null  object
dtypes: int64(3), object(10)
memory usage: 2.3+ MB

principal info : 
- 23 524 observations
- 12 features and 1 target
- 3 numerical features (3 int) and 10 object type (9 categorical)

# Preprocessing

Liste of my columns by type

In [17]:
column_to_drop = []

num_columns = ["year", "household_size", "age_of_respondent"]
cat_columns = ["country", "bank_account", "location_type", "cellphone_access", "gender_of_respondent", "relationship_with_head",
               "marital_status", "education_level", "job_type"]

Numerical pipeline

In [18]:
scaler = StandardScaler()

In [19]:
binary_column = LabelEncoder()

In [20]:
cat_transform = OneHotEncoder(handle_unknown='ignore')

In [27]:
preprocessor = ColumnTransformer([
    ('binary_transformer', binary_column, ["bank_account", "location_type", "cellphone_access", "gender_of_respondent"]),
    ("cat_transformer", cat_transform, ["relationship_with_head", "marital_status", "education_level", "job_type", "country"]),
    ('num_transormer', scaler, ["household_size", "age_of_respondent"])
    ],
    remainder = "drop")

preprocessor

ColumnTransformer(transformers=[('binary_transformer', LabelEncoder(),
                                 ['bank_account', 'location_type',
                                  'cellphone_access', 'gender_of_respondent']),
                                ('cat_transformer',
                                 OneHotEncoder(handle_unknown='ignore'),
                                 ['relationship_with_head', 'marital_status',
                                  'education_level', 'job_type', 'country']),
                                ('num_transormer', StandardScaler(),
                                 ['household_size', 'age_of_respondent'])])

In [35]:
preprocessed_data = preprocessor(df)

TypeError: 'ColumnTransformer' object is not callable

In [ ]:
pd.DataFrame(preprocessed_data)